[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "gtop"]
	path = gtop
	url = https://github.com/cran/gtop
	shallow = true
	registered = true
